@use "../abstracts/" as *;

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(ellipse, clr(primary, 700), clr(primary, 950));
}

button {
  border: none;
}

h1 {
  font-size: 2rem;
  width: 10ch;
  text-transform: uppercase;
  margin-inline: auto;
  color: clr(primary, 800);
}

p {
  font-size: 8rem;
  color: clr(primary, 800);
  /* font-weight: 500; */
}
