body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  align-items: center;
  height: 100vh;
  background-color: #2f4200;
}

h2 {
  font-size: 2rem;
  width: 10ch;
  margin-inline: auto;
  color: #446109;
}

p {
  font-size: 8rem;
}
