body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(ellipse, #385300, #212900);
}

h2 {
  font-size: 2rem;
  width: 10ch;
  text-transform: uppercase;
  margin-inline: auto;
  color: #446109;
}

p {
  font-size: 8rem;
  /* font-weight: 500; */
}
