$colors: (
  primary: (
    50: #F6F1F9,
    100: #EEE3F2,
    200: #DFCBE7,
    300: #CEAFDA,
    400: #BF97CE,
    500: #AE7CC2,
    600: #9451AE,
    700: #6D3C81,
    800: #4A2857,
    900: #23132A,
    950: #120A15,
  ),
  secondary: (
    50: #F9F2F0,
    100: #F4E5E1,
    200: #E9CBC3,
    300: #DEB1A6,
    400: #D49A8C,
    500: #C97F6D,
    600: #B65A43,
    700: #864232,
    800: #592C21,
    900: #2D1611,
    950: #160B08,
  ),
);
