@use "../abstracts/" as *;

.container {
  --max-width: 60rem;
  --padding: 2rem;

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
  background-color: clr(primary, 400);
  border-radius: var(--radius);
  overflow: hidden;

  /* Alignment */
  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
